/* Reset de bază pentru siguranță */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgb(247, 228, 233);
  height: 100%;
}


.home-container {
  background-color: rgb(247, 228, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #333;
}

.home-container p {
  font-size: 1.2rem;
  color: #555;
}

.countries-slideshow {
  margin: none;
  width: 100vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.mySlides {
  width: 100vw;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  opacity: 0;  /* Inițial ascuns */
}

.mySlides.active {
  opacity: 1;  /* Slide activ devine vizibil */
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.mySlides h3 {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
  background: transparent;
  font-size: 5rem;
}

.mySlides.active h3 {
  opacity: 1;  /* Apare doar pe slide-ul activ */
}

.mySlides img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
  margin-bottom: 15px;
  filter: brightness(0.8);
}
.mySlides::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,  
    rgb(247, 228, 233) 0%,  
    rgba(247, 228, 233, 0) 15%
  );
    pointer-events: none;
}

.top-hotels-section {
  padding: 20px;
  border-radius: 8px;
  margin-top: 40px;
  text-align: center;
}

.top-hotels-section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.top-accomodations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.accomodation-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accomodation-card h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.accomodation-card p {
  margin: 5px 0;
}

.accomodation-card p:nth-child(1) {
  font-weight: bold;
}
