.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.home-container p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.countries-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  opacity: 0;
  animation: fadeIn 1s forwards; /* Adăugăm o animație de fade-in pentru întreaga secțiune */
  animation-delay: 0.5s; /* Întârziere pentru a permite altor elemente să se afișeze */
}

.country-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  transform: translateY(20px);
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0); /* Mișcă elementele în sus */
  }
}

.country-card:hover {
  transform: translateY(-5px);
}

.country-card h3 {
  font-size: 1.5rem;
  color: #333;
}

.country-card p {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
}

.country-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Animație cu întârzieri pentru fiecare card */
.country-card:nth-child(1) {
  animation-delay: 0.2s;
}

.country-card:nth-child(2) {
  animation-delay: 0.4s;
}

.country-card:nth-child(3) {
  animation-delay: 0.6s;
}
