body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background-color: rgb(247, 228, 233);
    margin: 0;
  }
  
.container{
  display: flex;
  justify-content: space-around;
}

  .login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 100px 30px;
    background-color: rgb(247, 228, 233);
    border-radius: 12px;
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
  }
  
  .login-form input:focus {
    border-color: #74ebd5;
    outline: none;
  }
  
  .login-form button {
    width: 100%;
    padding: 12px;
    background-color: #74ebd5;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #57c6bc;
  }
  
  .login-form p {
    margin-top: 15px;
    color: #777;
  }
  
  .login-form .link {
    color: #74ebd5;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .login-image{
    width: 50%;
    height: auto;
  }