.accommodation-list{
  padding-top: 50px;;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  }
  
  .my-likes-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 70px;
  }

  .my-likes-container p {
    padding-top: 20px;
    font-size: large;
    font-weight: 500;
    text-align: center;
  }
  
  .likes-accommodation-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .likes-accommodation-card h4 {
    font-size: 1.5rem;
  }
  
  .likes-accommodation-card p {
    font-size: 1rem;
  }
  