.my-likes-container {
    padding: 20px;
    background-color: #f0f8ff;
  }
  
  .my-likes-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .accommodation-card {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .accommodation-card h4 {
    font-size: 1.5rem;
  }
  
  .accommodation-card p {
    font-size: 1rem;
  }
  