
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background-color: #f0f9ff;
  margin: 0;
}

* {
  font-size: inherit;
}

html.font-small, body.font-small {
  font-size: 14px;
}

html.font-medium, body.font-medium {
  font-size: 16px;
}

html.font-large, body.font-large {
  font-size: 18px;
}

body.dark-mode {
    background-color: #082f49;
    color: #f0f9ff;
  }
  
  body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode p {
    color: #f0f9ff;
  }

  body.dark-mode .slidesGradient{
    background: linear-gradient(
        to top,  
        #082f49 0%,  
        rgba(247, 228, 233, 0) 15%
      );
  }

  body.dark-mode .darkMode{
    background-color: #082f49;
    color: #f0f9ff;
  }

    body.dark-mode .darkModeButtons{
    color: #f0f9ff;
  }

    body.dark-mode .darkModeTop3{
    background-color: #104467;
    color: #f0f9ff;
  }



