@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-custom {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: relative;
    background: white;
    z-index: 1;
  }
}
